<header class="header">
  <div id="header-title"><strong>Michael's Portfolio</strong></div>
  <div id="header-description">Collective Location of Imagination</div>

  <nav id="header-nav" class="h-nav">
    <ul>
      <li><%= link_to("Home", root_path) %></li>
      <li><%= link_to("Projects", projects_path) %></li>
      <li><%= link_to("Articles", articles_path) %></li>
      <li><%= link_to("Experience", experience_path) %></li>
      <li><%= link_to("About Me", aboutme_path) %></li>
    </ul>

    <ul>
      <% if logged_in? %>
        <li><%= link_to("Profile", current_user) %></li>
        <li><%= link_to("Log out", secret_logout_path, data: { "turbo-method": :delete}) %></li>
      <% end %>
    </ul>
  </nav>

  <% if yield(:header_img_path) != ""%>
    <div id="header-banner-container">
      <div id="header-banner-img-container">
        <%= image_tag(yield(:header_img_path), alt: "Header banner image", id: "header-banner-img") %>
      </div>
    </div>
  <% end %>

</header>