<% provide(:title, title) %>

<div class="v-container">
    <div class="v-container-item">
        <%= form_with(url: path, model: post, data: { turbo: false }) do |f| %>
            <%= f.label(:title) %>
            <%= f.text_field(:title) %>

            <%= f.label(:thumbnail) %>
            <%= f.text_field(:thumbnail) %>

            <%= f.label(:content) %>
            <%= f.rich_text_area(:content) %>

            <%= f.submit(submit_text) %>
        <% end %>
    </div>
</div>