<% provide(:title, "Home") %>
<% provide(:header_img_path, "headers/header.png") %>
<% content_for(:head) do %>
  <%= stylesheet_link_tag("shared/post_preview", "data-turbo-track": "reload") %>
  <%= javascript_import_module_tag("public/Home")%>
<% end %>

<div class="h-container">

  <div class="v-container">
    <div class="v-container-item">
      <h1>Projects</h1>

      <nav id="v-nav-projects-preview" class="v-nav">
        <%= render(:partial => "shared/post_preview", :locals => { :posts => @p_posts }) %>
      </nav>

      <p class="see-more-link"><%= link_to("See more...", projects_path) %></p>
    </div>
  </div>

  <div class="v-container">
    <div class="v-container-item">
      <h1>Articles</h1>

      <nav id="v-nav-articles-preview" class="v-nav">
        <%= render(:partial => "shared/post_preview", :locals => { :posts => @a_posts }) %>
      </nav>

      <p class="see-more-link"><%= link_to("See more...", articles_path) %></p>
    </div>
  </div>
</div>
