<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag("public/main", "data-turbo-track": "reload") %>
    <%= javascript_importmap_tags("application") %>
    <%= yield(:head) %>
  </head>

  <body class="<%= controller_name.underscore %>">

    <%= render("shared/header") %>
    <%= render("shared/flashes") %>
    <%= yield %>
    <%= render("shared/footer") %>

  </body>
</html>

